body {
  background-image: url(./bearing.png);
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  position: fixed;
}

img,
video,
a,
audio {
  width: inherit;
}

.second-section-padding {
  padding-top: 8rem !important;
}

.max-vh-div {
  height: 100vh;
}

.fill-width {
  width: 100%;
}
